[Unit]
Description=Export GPIOs to user space
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/gpio-export.sh start
ExecStop=/usr/bin/gpio-export.sh stop

[Install]
WantedBy=basic.target
