#for the tegras (Android Gadget) also consult /etc/udev/ruldes.d/usb-rndis.rules
[Unit]
Description=Load/Configure the kernel driver providing the RNDIS gadget
Documentation=http://www.linux-usb.org/gadget/ http://permalink.gmane.org/gmane.linux.usb.general/56244
DefaultDependencies=no
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/start-rndis.sh start
ExecStop=/usr/bin/start-rndis.sh stop

[Install]
WantedBy=multi-user.target
